.App {
  padding: 10% 10% 10% 10%
}
.card {
  border-radius: 4px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  box-shadow: 0px 20px 50px rgba(0,0,0,0.25);
}

.placeholder {
  display: none;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.modal-card {
  background-color: #232425;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}